body{
    background-color: #EAEAEA;
    color:#555555;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    line-height: 400%;
    text-indent: 1em;
    text-align: center;
    background-color: #002171;
    color:#FFFFFF;
}
nav{
    font-weight: bold;
    padding: 0;
    font-size: 120%;
    text-align: center;


}
nav a{
    text-decoration: none;
}

h2{
    color:#1976D2;
    text-shadow: 1px 1px #CCCCCC;
    font-family:Georgia, 'Times New Roman', serif;
    
}
dt{
    color:#002171;
}
.resort{
    color: #1976D2;
    font-weight: bold;
}
h1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family:Georgia, 'Times New Roman', serif;
    padding: 0.5em 0;
    letter-spacing: 0.25em;
}
h3{
    font-family:Georgia, 'Times New Roman', serif;
    color: #000033
}
main ul{
    list-style-image: url("marker.gif");
}
footer{
    font-size: 75%;
    font-style: italic;
    text-align:center;
    font-family:Georgia, 'Times New Roman', serif;
    padding:2em;

    background-color: #FFFFFF;
}
#contact{
    font-size: 90%;
}
#wrapper{
    background-color: #90C7E3;
    background-image:linear-gradient(#FFFFFF, #90C7E3);
    background-repeat: no-repeat;
}
main{
    background-color: #FFFFFF;

    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    overflow: auto;

}
#homehero{
    height:300px;
    background-image:url("coast2.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;


}
#yurthero{
    height:300px;
    background-image:url("yurt.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;

}
#trailhero{
    height:300px;
    background-image:url("trail.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;

}

nav ul{
    list-style-type:none;
    margin:0;
    padding-left: 0;
    font-size: 1.2em;
}
nav a:link{
    color:#5C7FA3;
    text-decoration: none;
}
nav a:visited{
    color:#344873;
    text-decoration: none;
}
nav a:hover{
    color:#A52A2A;
    text-decoration: none;
}
header a:link,
header a:visited{
    text-decoration: none;
    color:#FFFFFF;

}
header a:hover{
    color:#90C7E3;
    text-decoration: none;
}
nav li{
    border-bottom: 1px solid #000033;
}
*{ box-sizing: border-box;}
@media (min-width: 600px) {
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    nav li{
        border-bottom: none;
    }
    section{
        margin: 0 2em;
    }
    .flow{
        display: flex;
        flex-direction: row;
    }
    .flow > section{
        flex: 1 1 0;
    }
}

@media (min-width: 1024px) {


  #wrapper {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000033;
    box-shadow: 3px 3px #000033; 
  }


  nav {
    text-align: left;
    padding-left: 1em;
  }

  @supports (display: grid) {

    nav ul {
      display: flex;
      flex-direction: column;
      padding-top: 1em;
    }

    header { grid-area: header; }
    nav    { grid-area: nav; }
    .hero  { grid-area: hero; } 
    main   { grid-area: main; }
    footer { grid-area: footer; }


    #wrapper {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-template-rows: auto 300px auto auto;
      grid-template-areas:
        "header header"
        "nav    hero"
        "nav    main"
        "footer footer";
      gap: 0;
    }
  }
}
table{
    border-collapse:collapse;
    border: 2px solid #3399CC;
}
td{
    padding: 0.5em;
    border: 2px solid #3399CC;
    text-align: center;
}
th{
    padding: 0.5em;
    border: 2px solid #3399CC;
}
.text{
    text-align: left;
}
tr:nth-of-type(odd){
    background-color: #F5FAFC;
}